        /* VARIABLE */ 

/* COLOR */

$blue: #6a8fc9;
$white: #fff;
$bg-black: #0a0b0f;
$white-dark: #ddd;
$grey-light: #888;
$grey-dark: #747476;
$red: #d82c2e;

        /* GENERAL */

body{
font-family: 'lato', Arial, sans-serif;
}
ul,ol{
list-style: none;
}
h1,h2,h3,h4,h5,h6{
font-weight: bold;
}
img{
max-width: 100%;
height: auto;
}
section{
padding: 35px 0 60px 0;
    .heading{
    text-align: center;
    padding-bottom: 40px;
        h2{
        text-transform: uppercase;
        }
    }
}
.divider{
width: 100px;
height: 2px; 
margin: 0 auto;
    &.white{
    background: $white;
    }
    &.blue{
    background: $blue;
    }
}

        /* NAVBAR */

.navbar{
font-size: 12px;
background: $bg-black;
letter-spacing: 4px;
text-transform: uppercase;
font-weight: bold;
        .navbar-nav{
        display: inline-block;
        float: none;
        vertical-align: top;
        }
        .navbar-collapse{
        text-align: center;
        }
        li{
            a{
            color: $white !important;
            transition: all 0.3s ease-in;
            }
            &.active a, a:hover{
            color: $bg-black !important; 
            background: $white !important; 
            }
        }   
}
.navbar-toggle{
    &:hover, .icon-bar{
    background: $white-dark !important;
    }
    &:hover, &:focus .icon-bar{
    background: $bg-black !important;   
    }
}

        /* ABOUT */

#about{
padding-top: 100px;
background: $bg-black;
    .heading{
        h1{
        text-transform: uppercase;
        color: $white;   
        }
        h3{
        color: $blue;    
        }
        h4{
        color: $grey-light;    
        }
    }
}
.button1{
text-transform: uppercase;
font-weight: bold;
color: $white;
border: 1px solid $white;
margin-top: 20px;
padding: 18px 50px;
border-radius: 3px;
display: inline-block;
transition: all 0.3s ease-in;
    &:hover{
    background: $white;
    color: $bg-black;
    text-decoration: none;
    }
}
.profile-picture{
text-align: center;
margin: 0 auto;
float: none;
}

        /* SKILLS */

#skills{
background: $white;
    h2{
    color: $blue;
    }
    h3{
    color: $bg-black;
    text-transform: uppercase;
    }
    h5{
    color: $white;
    text-transform: uppercase;
    }
    .progress{
    height: 100%;
    margin: 30px 20px;
    background: $white-dark; 
    }
    .progress-bar{
    background: $blue; 
    }
} 

        /* EXPERIENCE */

#experience{
background: $bg-black;
    h2{
    color: $white;
    }
    h3{
    margin-top: 5px;
    font-size: 20px;
    }
    h4{
    color: $blue;
    }
}
.timeline{
padding: 30px 10px;
position: relative;
    &:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: $grey-dark;
    left: 50%;
    margin-left: -2.5px;
    }
    li{
    margin-bottom: 20px;
    position: relative;
        &:after{
        clear: both;
        }
        &:after, &:before{
        display: table;
        content: " ";
        }
        .timeline-badge{
        color: $bg-black;
        width: 50px;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #fff;
        border-radius: 50%;    
        }
    }
}
.timeline-panel{
width: 90%;
float: right;
margin-right: 40px;
border: 1px solid #d4d4d4;
border-radius: 7px;
padding: 20px 25px;
position: relative;
box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
background: #fff;
    &-container{
    width: 50%;
    float: left;
        &-inverted{
        width: 50%;
        float: right;
            .timeline-panel{
            float: left;
            margin-left: 40px;
                &:after{
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
                }
            }
        }
    }
}
.timeline-panel:after{
position: absolute;
top: 27px;
right: -14px;
display: inline-block;
border-top: 14px solid transparent;
border-left: 14px solid #fff;
border-right: 0 solid #fff;
border-bottom: 14px solid transparent;
content: " ";
}

        /* EDUCATION */

#education{
background: $white;
    h2{
    color: $blue;
    }
}
.education-block{
width: 80%;
margin: 0 auto;
text-align: center;
padding: 30px;
background: $white-dark;
border-radius: 10px;
border: 2px solid #ccc;
margin-bottom: 20px;
    h3{
    color: $blue;
    }
    h4{
    margin-bottom: 20px;
    }
    h5{
    color: $grey-light;
    font-size: 15px;
    margin-bottom: 15px;
    }
    .glyphicon{
    font-size: 40px;    
    }
    p{
    font-weight: bold;
    }
    
}

        /* PORTFOLIO */

#portfolio{
background: #0a0b0f;
    h2{
    color: $white;   
    }
}
.thumbnail img{
width: 100%;
height: 100%;
filter: grayscale(100%);
-webkit-filter: greyscale(100%);
    &:hover{
    filter: none;
    -webkit-filter: none;
    }
}
/* RECOMMANDATIONS */

#recommandations{
background: #fff;
    h2{
    color: $blue;
    }
}
.carousel-control.left, .carousel-control.right
{
    background-image: none;
    color: $blue;
}
.carousel-indicators{
bottom: 0px;
    li{
    border-color: $blue;
        &.active{
        background-color: $blue;
        }
    }
}
#myCarousel .item{
padding: 40px 30px;
    h3{
    font-style: italic;    
    }
    h4{
    color: $grey-light;
    }
}

/* fORMULAIRE */

#contact{
background: #0a0b0f;
    h2{
        color: $white;
    }
}
#contact-form{
font-size: 20px;
background: #fff;
padding: 40px;
border-radius: 10px;
    input, textarea{
    width: 100%;
    }
    imput[type=submit]{
    margin: 40px auto 0px;
    display: block;
    }
}
.form-control{
font-size: 18px;
height: 50px;
}
.button2{
border: 1px solid #ddd;
background: #0a0b0f;
width: 75%;
padding: 18px;
font-weight: bold;
border-radius: 5px;
background-color: #444;
color: #fff;
text-transform: uppercase;
transition: all 0.3s ease-in 0s;
    &:hover{
    background-color: #66FF33;
    }
}
.blue{
color : #0069d6;
font-size: 15px;
}
.comments{
font-size: 12px;
color: $red;
height: 20px;
font-style: italic;
}

/* FOOTER */


footer{
background: $bg-black;
padding: 20px 0 40px;
    h5{
    color: $grey-light   
    }
    .glyphicon{
    font-size: 25px;
    margin: 20px;
    color: $blue;
    height: 30px;
        &:hover{
        font-size: 27px;
        }
    }
}